<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">Billing</h1>
    </div>
</div>
<div class="row">
	<div class="form-group">
    	<label for="billingFilterByMonth">Date Range </label>
    	<div class="col-md-12">	
    		<div class="row">
    			<div class="col-md-5">
    				<div class="row border border-radius" style="margin-left: -10px;">
    					<div class="col-md-3">
							<button class="btn btn-default" ng-click="billingCtrl.filterByMonth('1')">1M</button>
						</div>
						<div class="col-md-3">
							<button class="btn btn-default" ng-click="billingCtrl.filterByMonth('3')">3M</button>
						</div>
						<div class="col-md-3">
							<button class="btn btn-default" ng-click="billingCtrl.filterByMonth('6')">6M</button>
						</div>
						<div class="col-md-3">
							<button class="btn btn-default" ng-click="billingCtrl.filterByMonth('12')">12M</button>
						</div>
    				</div>
    			</div>
    			<div class="col-md-1">
    				<label style="position: relative;top: 20px;left: 10px;"> OR </label>
    			</div>
    			<div class="col-md-6">
    				<div class="row border border-radius" style="margin-right: 0px;">
						<div class="col-md-4">
							<p class="input-group" style="top: 10px;">
								<input type="text" class="form-control" id="fromDate"  ng-model="billingCtrl.filter.fromDate" uib-datepicker-popup="MM/dd/yyyy" is-open="billingCtrl.fromDatePopover.opened">
								<span class="input-group-btn" max-date="billingCtrl.filter.toDate">
									<button type="button" class="btn btn-default" ng-click="billingCtrl.fromDatePopover.open()"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</p>             
						</div>
						<div class="col-md-1"><span class="glyphicon glyphicon-minus" style="top: 20px;"></span></div>
						<div class="col-md-4">
							<p class="input-group" style="top: 10px;">
								<input type="text" class="form-control" id="toDate" ng-model="billingCtrl.filter.toDate" uib-datepicker-popup="MM/dd/yyyy" min-date="billingCtrl.filter.fromDate" is-open="billingCtrl.toDatePopover.opened">
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="billingCtrl.toDatePopover.open()"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</p>
						</div>
						<div class="col-sm-2">
							<button type="submit" class="btn btn-primary btn-raised applyFilter" ng-click="billingCtrl.filterData()">Apply</button>
						</div>
					</div>
				</div>
    		</div>
    	</div>
  	</div>
</div>
<br/>

<!-- <div id="chart" billing-chart billing-chart-data="billingCtrl.dataPoints"></div>
 -->

<div>
	<div class="panel">
    <div class="panel-heading" role="tab" id="billingClientPanel">
      <h4 class="panel-title">
        <a target="_self" class="collapsed billing-client-panel" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseBillingPanel" aria-expanded="false" aria-controls="collapseBillingPanel">
          Clients - <font size="2">{{selectedClientString}}</font>
          <span class="glyphicon glyphicon-chevron-down pull-right"></span>
        </a>

      </h4>
    </div>
    <div id="collapseBillingPanel" class="panel-collapse collapse" role="tabpanel" aria-labelledby="billingClientPanel">
      <div class="panel-body">
        <div class="row">
			<div class="form form-inline" ng-repeat="client in clients">
				<div class="col-md-2 checkbox">
				    <label>
				      <input type="checkbox" ng-model="client.isChecked"> {{client.name}}
				    </label>
				</div>
			</div>
		</div>
		<div class="row">
			<a target="_self" class="collapsed btn btn-primary pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseBillingPanel" aria-expanded="false" aria-controls="collapseBillingPanel" ng-click="billingCtrl.filterClient()">
	          Submit
	        </a>
      </div> 
      </div>
    </div>
  </div>
</div>
</div>
<br/>

<div class="row">
	<div class="col-md-12">
		<div class="panel billing-nav-tabs panel-default">
            <div>
                <ul class="nav nav-tabs">
                    <li class="active">
                    	<a href="#billingCostTab" data-toggle="tab" target="_self" ng-click="billingCtrl.tabPanel('cost')">
                    		 Cost
                    	</a>
                    </li>
                    <li>
                    	<a href="#billingTrendTab" data-toggle="tab" target="_self" ng-click="billingCtrl.tabPanel('trend')">
                    		Trend
                    	</a>
                    </li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="billingCostTab">
						<div id="chart" billing-stacked-chart billing-data="billingCtrl.dataPoints"></div>
                    </div>
                    <div class="tab-pane fade" id="billingTrendTab">
                    	<div id="billingTimelineChart" billing-timeline-chart billing-timeline-data="billingCtrl.timeLineData"></div> 
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>


<!-- <div class="row">
	<div class="col-sm-12">
		<div id="chart" billing-stacked-chart billing-data="billingCtrl.dataPoints"></div>
	</div>
</div -->
