<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">Build</h1>
    </div>
</div>
<div class="row">
	<div class="col-md-12">
		<ui-select ng-model="buildCtrl.model.job" on-select="buildCtrl.getDetail($item,$model)" theme="bootstrap" ng-disabled="disabled" style="width: 300px;">
	    <ui-select-match placeholder="Select or search a job in the list...">{{$select.selected}}</ui-select-match>
	    <ui-select-choices repeat="job in buildCtrl.list | filter: $select.search">
	      <span ng-bind-html="job | highlight: $select.search"></span>
	    </ui-select-choices>
	  </ui-select>
	</div>
</div>

<div class="row top-buffer">
	<div class="col-md-12" ui-view></div>
</div>
