<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
</div>
<div class="row">
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-server fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{dashboardCtrl.resourcesMetaData.instances.total}}</div>
                                    <div>Running Instances</div>
                                </div>
                            </div>
			</div>
			<div class="panel-body">
				<div class="list-group">
                                <a href="#" class="list-group-item" ng-repeat="(region, count) in dashboardCtrl.resourcesMetaData.instances.countByRegion">
                                    {{region}}
                                    <span class="pull-right text-muted small"><em>{{count}}</em>
                                    </span>
                                </a>
                            </div>
			</div>
		</div>
	</div>
	<div class="col-lg-9">
       <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Notifications Panel
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item" ng-repeat="notification in dashboardCtrl.notifications">
                                    {{notification.message}}
                                </a>
                            </div>
                        </div>
                    </div>
                    
	</div>
</div>
