<div class="row">
		<h1 class="page-header">Instances</h1>
</div>
<div class="row">
	<div class="col-lg-12">
		<input ng-model="instanceCtrl.search" class="form-control" placeholder="Search" type="text"/>
	</div>
</div>
<div class="row">
	<table st-table="instanceCtrl.list" class="table table-striped table-bordered table-hover instanceTable" st-search-watch="instanceCtrl.search">
		<thead>
			<tr>
				<th st-sort="instanceCtrl.getInstanceName" st-sort-default="true">Name</th>
				<th st-sort="awsInstance.instanceType">Type</th>
				<th st-sort="awsInstance.state.name">Status</th>
				<th st-sort="awsInstance.privateIpAddress">IP</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="instance in instanceCtrl.list">
				<td>{{instanceCtrl.getInstanceName(instance)}}</td>
				<td>{{instance.awsInstance.instanceType}}</td>
				<td>{{instance.awsInstance.state.name}}</td>
				<td>{{instance.awsInstance.privateIpAddress}}</td>
				<td>
					<div class="btn-group" ng-switch on="instance.awsInstance.state.name">
						<button type="button" class="btn btn-default" ng-switch-when="running" ng-click="instanceCtrl.stopInstance(instance)" uib-tooltip="Stop" ng-switch on="instance.actionTracker.active()">
								<i class="fa fa-stop stop" ng-switch-default></i>
								<i class="fa fa-cog fa-spin" ng-switch-when="true"></i>
						</button>
						<button type="button" class="btn btn-default" ng-switch-when="stopped" ng-click="instanceCtrl.startInstance(instance)" uib-tooltip="Start" ng-switch on="instance.actionTracker.active()">
							<i class="fa fa-play start" ng-switch-default></i>
							<i class="fa fa-cog fa-spin"  ng-switch-when="true"></i>
						</button>
						<button type="button" class="btn btn-default" ng-click="instanceCtrl.schedule(instance)" uib-tooltip="Schedule"><i class="fa fa-calendar"></i></button>
						<button type="button" class="btn btn-default" ng-click="instanceCtrl.audit(instance)" uib-tooltip="Audit"><i class="fa fa-heartbeat"></i></button>
						<button type="button" class="btn btn-default" ng-click="instanceCtrl.cpuUtilization(instance)" uib-tooltip="CPU"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span></button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="row">
	<div class="col-lg-12">
		Didn't find your instance? Click <button ng-click="instanceCtrl.diagnose()" class="btn btn-link">here</button> for diagnosis.
	</div>
</div>
