.innerPages {
    background-color: #194b66;
}
.navbar .navbar-brand {
    padding: 5px 15px;
    height: 50px;
}
.innerPages .navbar .navbar-brand  {
    padding: 12px 15px;
}
.nav.navbar-top-links > li > a:hover, .nav.navbar-top-links > li > a:focus {
    background-color: #194b66;
}
a, a:hover, a:focus {
    color: #22536d;
}
.btn.btn-raised.btn-primary, .input-group-btn .btn.btn-raised.btn-primary, 
.btn.btn-fab.btn-primary, .input-group-btn .btn.btn-fab.btn-primary, 
.btn-group-raised .btn.btn-primary, .btn-group-raised .input-group-btn .btn.btn-primary {
    background-color: #22536d;
}
.btn.btn-raised.btn-primary:hover:not(.btn-link), .input-group-btn .btn.btn-raised.btn-primary:hover:not(.btn-link),
 .btn-group-raised .btn.btn-primary:hover:not(.btn-link), .btn-group-raised .input-group-btn .btn.btn-primary:hover:not(.btn-link), 
 .btn.btn-raised.btn-primary:focus:not(.btn-link), .input-group-btn .btn.btn-raised.btn-primary:focus:not(.btn-link), 
 .btn-group-raised .btn.btn-primary:focus:not(.btn-link), .btn-group-raised .input-group-btn .btn.btn-primary:focus:not(.btn-link),
  .btn.btn-raised.active.btn-primary:not(.btn-link), .input-group-btn .btn.btn-raised.active.btn-primary:not(.btn-link), 
  .btn-group-raised .btn.active.btn-primary:not(.btn-link), .btn-group-raised .input-group-btn .btn.active.btn-primary:not(.btn-link), 
  .btn.btn-raised.btn-primary:active:not(.btn-link), .input-group-btn .btn.btn-raised.btn-primary:active:not(.btn-link), 
  .btn-group-raised .btn.btn-primary:active:not(.btn-link), .btn-group-raised .input-group-btn .btn.btn-primary:active:not(.btn-link) {
    background-color: #2f6f91;
  }
.navbar, .navbar.navbar-default {
    background-color: #194b66;
}
.navbar-top-links li a {
    color: #f0f0f0;
}
.loginPanel {
    margin-top: 50px;
}
.loginPanel .page-header {
    border-bottom: 0;
}
.loginBG {
    background: url("../images/cloud_login.jpg") no-repeat;
    width: 300px;
    height: 300px;
}
.sidebar {
    margin-top: 64px;
}
.sidebar ul li {
    border-bottom: 1px solid #194b66;
}
.sidebar ul li a {
    background-color: #2f6f91;
    color: #f0f0f0;
}
.sidebar .nav > li > a:hover, .sidebar .nav > li > a:focus {
   background-color: #d14c22; 
}
.sidebar ul li a.active {
    background-color: #d14c22;
    color: #f0f0f0;
}
.sidebar .fa {
    margin-right: 5px;
}
#page-wrapper {
    border-left: 0;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1px 0 0 1px;
    min-height: 680px !important;
}
.form-group select {
    -moz-appearance: listbox;
}
.table > thead > tr > th, .table > tbody > tr > th, 
.table > tfoot > tr > th, .table > thead > tr > td, 
.table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}
.table .btn-group, .table .btn-group-vertical {
    margin: 0;
}
.table .btn-group > .btn.btn-default {
    border-radius: 3px !important;
}
.ui-select-container.ui-select-bootstrap {
    width: auto !important;  
}
.btn.btn-default.form-control.ui-select-toggle {
    background-color: transparent;
}
.ui-select-match.btn-default-focus {
    background-color: transparent;
    box-shadow: none;
}
.panel.panel-success > .panel-heading {
    background-color: #56b3d8;
}
.processing_overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    opacity: 0.8;
    filter: alpha(opacity=80);
    z-index:1001;
}
.processing_loading {
    width: 50px;
    height: 57px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
}

.cron-block select, .cron-period select{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.st-sort-ascent:before{
    content: '\25B2';
  }

  .st-sort-descent:before{
    content: '\25BC';
  }

.top-buffer { margin-top:20px; }

.bottom-buffer { margin-bottom:20px; }

.applyFilter {margin-bottom:10px;}

