<div class="modal-header">
	<h3 class="modal-title">CPU Utilization - {{cPUUtilizationCtrl.instanceName}}</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-12">
			<form class="form-inline" ng-submit="cPUUtilizationCtrl.filterData()">
				<div class="form-group">
					<label for="fromDate">From:</label>
					<p class="input-group">
						<input type="text" class="form-control" id="fromDate"  ng-model="cPUUtilizationCtrl.filter.fromDate" uib-datepicker-popup="MM/dd/yyyy" is-open="cPUUtilizationCtrl.fromDatePopover.opened">
						<span class="input-group-btn" max-date="cPUUtilizationCtrl.filter.toDate">
							<button type="button" class="btn btn-default" ng-click="cPUUtilizationCtrl.fromDatePopover.open()"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</p>             
				</div>
				<div class="form-group">
					<label for="toDate">To:</label>
					<p class="input-group">
						<input type="text" class="form-control" id="toDate" ng-model="cPUUtilizationCtrl.filter.toDate" uib-datepicker-popup="MM/dd/yyyy" min-date="cPUUtilizationCtrl.filter.fromDate" is-open="cPUUtilizationCtrl.toDatePopover.opened">
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="cPUUtilizationCtrl.toDatePopover.open()"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</p>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-default applyFilter">Apply</button>
				</div>
			</form>
		</div>
	</div>
	<div id="chart" highchart highchart-data="cPUUtilizationCtrl.dataPoints"></div>
	<div class="processing_overlay" ng-if="cPUUtilizationCtrl.loadingTracker.active()">
	    <div class="processing_loading">
	        <i class="fa fa-cog fa-spin fa-5x fa-fw"></i>
	    </div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="cPUUtilizationCtrl.dismiss()">OK</button>
</div>
