<div class="modal-header">
  <button aria-hidden="true" ng-click="scheduleCtrl.cancel()" class="close" type="button">×</button>
  <h3 class="modal-title">Schedule instance</h3>
</div>

<form ng-submit="scheduleCtrl.submit()">
  <div class="modal-body">
    <div ng-if="scheduleCtrl.response.status">
      <div class="alert alert-{{scheduleCtrl.response.status}}" role="alert">
        {{scheduleCtrl.response.message}}
      </div>
    </div>
    <div class="alert alert-info" role="alert" ng-if="scheduleCtrl.jobDetails">
      <p>
        Instance will 
        <span ng-switch="scheduleCtrl.instance.awsInstance.state.name">
          <span ng-switch-when="running">
            <strong>stop</strong> at {{scheduleCtrl.jobDetails.stop.nextFireTime | date : 'medium'}}
          </span>
          <span ng-switch-when="stopped">
            <strong>start</strong> at {{scheduleCtrl.jobDetails.start.nextFireTime | date : 'medium'}}
          </span>
        </span>
      </p>
    </div>
    <div class="form-group">
      <label for="startInstanceCron">Start Instance Cron</label>
      <div hc-cron ng-model="scheduleCtrl.cron.start"></div>
    </div>
    <div class="form-group">
      <label for="stopInstanceCron">Stop Instance Cron</label>
      <div hc-cron ng-model="scheduleCtrl.cron.stop"></div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-raised" type="submit">{{(scheduleCtrl.update) ? 'Update' : 'Save'}}</button>
    <button class="btn btn-default" type="button" ng-click="scheduleCtrl.cancel()">Cancel</button>
    <button class="btn btn-default" type="button" ng-click="scheduleCtrl.delete()" ng-if="scheduleCtrl.update">Delete</button>
  </div>
</form>