<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css"/>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/ripples.css" />
    <link rel="stylesheet" href="bower_components/ui-select/dist/select.css" />
    <link rel="stylesheet" href="bower_components/metisMenu/dist/metisMenu.css" />
    <link rel="stylesheet" href="bower_components/morrisjs/morris.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-social/bootstrap-social.css" />
    <link rel="stylesheet" href="bower_components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" />
    <!-- endbower -->
    
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="cloudmanageApp" ng-cloak>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div id="wrapper" ng-controller="MainCtrl as mainCtrl" class="{{mainCtrl.securityContextHolder.authenticated ? 'innerPages' : 'homePage'}}">
         <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="../images/logo.png" alt="Cloud Manage"/></a>
            </div>
            <ul class="nav navbar-top-links navbar-right" ng-if="mainCtrl.securityContextHolder.authenticated">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a ng-click="mainCtrl.logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>

             <div class="navbar-default sidebar" role="navigation" ng-if="mainCtrl.securityContextHolder.authenticated">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a ui-sref="instances" ui-sref-active="active"><i class="fa fa-server fa-fw"></i>Instances</a>
                        </li>
                        <li>
                            <a ui-sref="audit" ui-sref-active="active"><i class="fa fa-heartbeat fa-fw"></i>Audit</a>    
                        </li>
                        <li>
                            <a ui-sref="build" ui-sref-active="active"><i class="fa fa-wrench fa-fw"></i>Build Information</a>    
                        </li>
                        <li>
                            <a ui-sref="instanceMetaList" ui-sref-active="active"><i class="fa fa-server fa-fw"></i>Instance Meta Data</a>    
                        </li>
                         <li>
                            <a ui-sref="billing" ui-sref-active="active"><i class="fa fa-money fa-fw"></i>Billing</a>    
                        </li>
                    </ul>
                </div>
            </div>

        </nav>

        <div ui-view id="{{mainCtrl.securityContextHolder.authenticated ? 'page-wrapper' : 'page-wrapper-anonymous'}}">
        </div>
        <hc-processing></hc-processing>
        
    </div>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/bootstrap-material-design/dist/js/material.js"></script>
    <script src="bower_components/bootstrap-material-design/dist/js/ripples.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-smart-table/dist/smart-table.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <script src="bower_components/promise-tracker/promise-tracker.js"></script>
    <script src="bower_components/ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/angular-cron-jobs/dist/angular-cron-jobs.min.js"></script>
    <script src="bower_components/jquery-cron/cron/jquery-cron-min.js"></script>
    <script src="bower_components/ui-select/dist/select.js"></script>
    <script src="bower_components/datatables/media/js/jquery.dataTables.js"></script>
    <script src="bower_components/flot/jquery.flot.js"></script>
    <script src="bower_components/holderjs/holder.js"></script>
    <script src="bower_components/metisMenu/dist/metisMenu.js"></script>
    <script src="bower_components/raphael/raphael.js"></script>
    <script src="bower_components/mocha/mocha.js"></script>
    <script src="bower_components/morrisjs/morris.js"></script>
    <script src="bower_components/datatables-responsive/js/dataTables.responsive.js"></script>
    <script src="bower_components/flot.tooltip/js/jquery.flot.tooltip.js"></script>
    <script src="bower_components/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js"></script>
    <script src="bower_components/highcharts/highcharts.js"></script>
    <script src="bower_components/highcharts/highcharts-more.js"></script>
    <script src="bower_components/highcharts/modules/exporting.js"></script>
    <script src="bower_components/angular-ui-mask/dist/mask.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/arrive/src/arrive.js"></script>
    <!-- endbower -->
    <script src="bower_components/promise-tracker/promise-tracker-http-interceptor.js"></script>
    <script src="bower_components/highcharts/modules/drilldown.src.js"></script>

    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/services/authenticationservice.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/services/ec2service.js"></script>
        <script src="scripts/services/serviceurlinterceptor.js"></script>
        <script src="scripts/services/accessdeniedinterceptor.js"></script>
        <script src="scripts/services/statecache.js"></script>
        <script src="scripts/services/authenticationsuccesshandler.js"></script>
        <script src="scripts/services/authenticationfailurehandler.js"></script>
        <script src="scripts/services/securitycontextholder.js"></script>
        <script src="scripts/controllers/instance.js"></script>
        <script src="scripts/directives/hc-processing.js"></script>
        <script src="scripts/services/globaltrackerinterceptor.js"></script>
        <script src="scripts/services/globaltrackerservice.js"></script>
        <script src="scripts/services/interceptorproxy.js"></script>
        <script src="scripts/services/pollingservice.js"></script>
        <script src="scripts/services/routes.js"></script>
        <script src="scripts/services/logoutservice.js"></script>
        <script src="scripts/controllers/schedule.js"></script>
        <script src="scripts/controllers/audit.js"></script>
        <script src="scripts/services/auditservice.js"></script>
        <script src="scripts/controllers/auditinstance.js"></script>
        <script src="scripts/directives/hc-cron.js"></script>
        <script src="scripts/services/utils.js"></script>
        <script src="scripts/controllers/build.js"></script>
        <script src="scripts/services/buildservice.js"></script>
        <script src="scripts/controllers/builddetail.js"></script>
        <script src="scripts/filters/hyphenate.js"></script>
        <script src="scripts/controllers/cpuutilization.js"></script>
        <script src="scripts/directives/highchart.js"></script>
        <script src="scripts/controllers/profile.js"></script>
        <script src="scripts/services/profileservice.js"></script>
        <script src="scripts/services/securitycontextutils.js"></script>
        <script src="scripts/controllers/diagnoseinstance.js"></script>
        <script src="scripts/controllers/instancemetalist.js"></script>
        <script src="scripts/services/handlerequestresponseinterceptor.js"></script>
        <script src="scripts/directives/st-search-watch.js"></script>
        <script src="scripts/controllers/billing.js"></script>
        <script src="scripts/directives/billing-chart.js"></script>
        <script src="scripts/services/hcmodal.js"></script>
        <script src="scripts/controllers/modal.js"></script>
        <!-- endbuild -->
        <script>
            $.material.init();
        </script>
</body>
</html>
